<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-alipay"
    version="0.0.1">
    <name>AliPay</name>
 
    <js-module src="www/AliPay.js" name="AliPay">
     		<clobbers target="cordova.plugins.AliPay" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AliPay">
                <param name="android-package" value="com.cordova.alipay.AliPay"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
                 <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- alipay sdk end -->
		      <uses-permission android:name="android.permission.INTERNET" />
		      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
		      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file> 
        <source-file src="src/android/libs/alipaySdk-20160516.jar" target-dir="libs"/>
        <source-file src="src/android/AliPay.java" target-dir="src/com/cordova/alipay" />
        <source-file src="src/android/PayResult.java" target-dir="src/com/cordova/alipay" />
    </platform>
</plugin>